<!doctype html>
{% load staticfiles %}
<html lang="en">
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

        <script src="{% static 'litsearch.js' %}"></script>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
    </head>

    <body>
        <div id="editor">
            <p>Hello World!</p>
            <p><br></p>
            <p>Some initial <strong>bold</strong> text</p>
        </div>
        <script src='https://cdn.quilljs.com/1.3.6/quill.js'></script>
        <script>
            var Delta = Quill.import('delta');
            var quill = new Quill('#editor', {
                theme: 'bubble'
            });

            var change = new Delta();
            quill.on('text-change', function(delta) {
                change = change.compose(delta);
            });
            setInterval(function() {
              if (change.length() > 0) {
                console.log('Sent for ml', quill.getText());
                $.post('/api/', {'text' : quill.getText()});
                ///$.getJSON('/api/', function(data){
                   /// console.log(data)
                ///})
              }
            }, 1000);
        </script>
    </body>
</html>
