body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    margin: 0px;
}

.header {
  display: flex;
  vertical-align: bottom;
  height: 34px;
}

.title {
    font-size: 30px;
    margin: 0px;
}

.description {
    font-size: 15px;
    color: #787878;
    margin: 0px;
    postition: absolute;
    bottom: 0px;
}

.main-content {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
}

#editor {
  margin-left: 20px;
}

.ql-toolbar {
  display: none;
}

.ql-container {
    padding: 30px;
    font-size: 20px;
    size: 100px;
    width: 750px;
    background: linear-gradient(to top, white, transparent 90%);
    align-self: flex-start;
    flex-grow: 1;
    height: 100vh;
    line-height: 2.0em;
    border: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    /*padding-top: 42px;*/
    float: right;
    justify-content: flex-start;
    width: 600px;
    /*background-color: aqua;*/
    align-items: center;
    flex-align: end;
    margin: 35px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    border-top: 40px;
}

.listdiv {
  height: 200px;
}

.search {
    border-radius: 25px;
    padding: 7px 14px;
    background-color: transparent;
    border: solid 1px rgba(0,0,0,0.2);
    width: 600px;
    box-sizing: border-box;
    color: #2e2e2e;
    margin-bottom: 5px;
}
